---
---

:root {
	--colour-uoadarkblue:#00467F;
	--colour-uoalightblue:#009AC7;
	--colour-uoasilver:#8D9091;
}

h1, h2, h3, h4, h5, h6 {
  color:var(--colour-uoadarkblue);
}

@import "{{ site.theme }}";