<ul>
    {{ range $pub := (sort (index $.Site.Data "publications") "year" "desc") }}
    <li>
        <b>{{ index $pub "title" }}</b>
        <p>
            {{ index $pub "authors" | markdownify }}
            <!--        {{ partial "publications_authors.html" (index $pub "authors") }}-->
        </p>
        <p>
            <em>{{index $pub "venue" }}. {{index $pub "year" }}.</em>
        </p>
        <p>
            {{ with $doi := index $pub "doi" }}
            DOI: <a href="https://doi.org/{{ $doi }}">{{ $doi }}</a>
            {{ end }}
        </p>
        <details>
            <summary>Abstract</summary>
            <blockquote>
                {{ index $pub "abstract" }}
            </blockquote>
        </details>
        <p>
            {{ with $key := index $pub "key" }}
            <a href="{{ $.Site.BaseURL }}/publications/{{ $key }}.bib">bibtex</a>
            {{ end }}
        </p>
    </li>
    {{ end }}
</ul>